<!DOCTYPE html>
<html>
<head>
    <title>Meu Mapa</title>
    <style>
        #map {
            width: 800px;
            height: 600px;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}"></script>
</head>
<body>
    <div id="map"></div>

    <script>
        var map;
        var produtoSelecionado = "{{ produto }}"; // Obtém o nome do produto da URL

        var coordenadas = {
            'produto1': {"lat": -25.503600050960685, "lng": -49.16696527260166},
            'produto2': {"lat": ...},
            'produto3': {"lat": ...},
            'produto4': {"lat": ...},
            'produto5': {"lat": ...},
        };

        var ponto = coordenadas[produtoSelecionado]; // Obtenha as coordenadas com base no nome do produto

        function initMap() {
            if (ponto) {
                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: ponto
                });

                var marker = new google.maps.Marker({
                    position: ponto,
                    map: map,
                    title: 'Local do Produto ' + produtoSelecionado
                });
            } else {
                // Lógica para tratar o caso em que o produto não é encontrado
                alert("Produto não encontrado");
            }
        }

        window.onload = initMap;
    </script>
</body>
</html>
